@import url("./BubbleUI-v2.0.1.css");
@import url("./components/_import.css");
@import url("./views/_import.css");

:root {
    --accent-color : #007ACC;
}

.accent-hover:hover{
    color: var(--accent-color);
}

:root[data-theme="dark"] {
    --background: #303030;
    --input-bg: #202020;
    --input-bg-hover: #303030;
    --text: #eee;
    --text-color: #eee;
}

.image-icon {
    width : 5rem;
    height : 5rem;
    object-fit : cover;
    border-radius : 0.5rem;
    margin : .5rem;
    box-shadow : 0 0 0.5rem rgba(0,0,0,0.1);
    transition : transform 0.2s ease-in-out;
}

.image-icon.selected {
    border: #007ACC;
    border-style: solid;
    border-width: 0.2rem;
    box-shadow : 0 0 0.5rem rgba(0,0,0,0.1);
    transform: scale(1.1);
}

.image-icon:hover {
    transform: scale(1.1);
}

*::-webkit-scrollbar {
    width: .65rem;
    background-color: transparent;
}


*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .15);
    border-radius: .15em;
    transition: background var(--fast);
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .075) !important;
}

:root[data-theme=dark] *::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .065);
}